/* Start Variables */
:root {
  --background-color: #fab1a0;
  --main-color:#eb9532;
}

body{
  background:var(--background-color);
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
}

.cover{
  width:600px;
  height:600px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column
}

.body{
  width:400px;
  height:300px;
  border-radius:50%;
  border:10px #fff solid;
  position:relative;
  background:#fff
}
.body:after{
  position:absolute;
  content:'';
  top:0;
  left:50%;
  transform:translate(-50%,-50%);
  border-radius:50%;
  width:100px;
  height:70px;
  background:#fff;
  box-shadow:0px 300px 4px #fff,
    90px 20px   4px #fff,
    150px 70px  4px #fff,
    180px 130px 4px #fff,
    180px 190px 4px #fff,
    160px 250px 4px #fff,
    90px 290px  4px #fff,
    -90px 20px  4px #fff,
    -150px 70px 4px  #fff,
    -180px 130px 4px  #fff,
    -180px 190px 4px  #fff,
    -160px 250px 4px  #fff,
    -90px 290px 4px  #fff;
}
.hair{
  width:200px;
  height:100px;
  border-radius:50%;
  position:relative;
  background:#fff;
  z-index:9;
  margin:-60px auto
}
.hair:after{
  position:absolute;
  content:'';
  top:0;
  left:50%;
  transform:translate(-50%,-50%);
  border-radius:50%;
  width:50px;
  height:50px;
  background:#fff;
  box-shadow:-1px -1px 5px #fff,
    0 100px 3px #fff,
    40px 95px 3px #fff,
    70px 70px 3px #fff,
    80px 45px  3px #fff,
    50px 10px 3px #fff,
    -40px 95px 3px #fff,
    -70px 70px 3px #fff,
    -80px 45px 3px #fff,
   -50px 10px 3px #fff;
  z-index:-2
}

.ears{
  width:300px;
  height:100px;
  position:relative;
  margin:-100px auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  z-index:-1

}
.ears > *{
  width:50px;
  height:80px;
  background:var(--main-color);
  border-radius:100% 0% 49% 51% / 88% 32% 68% 12% 
}


.ears .left{
  transform:rotate(-50deg)
}
.ears .right{
  transform:rotate(20deg)
}


.eyes{
  width:200px;
  height:200px;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.eyes > *{
  background:#333;
  border-radius:50%;
  width:30px;
  height:40px;
  margin-top:30px;
  position:relative;
}
.eyes > *:after{
  content:'';
  position:absolute;
  width:5px;
  height:5px;
  background:#fff;
  top:50%;
  left:50%;
  border-radius:50%;
}
.face{
  position:relative;
  width:200px;
  height:200px;
  border-radius:50%;
  position:relative;
  background:var(--main-color);
  z-index:999;
  margin:40px auto;
  box-shadow:0px 0px 3px 4px var(--main-color);
  z-index:0;
}
.mouth{
  position:absolute;
  top:80%;
  left:50%;
  transform:translate(-50%,-50%);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-top: 15px solid rgb(241, 6, 25);

}
.legs {
  width:300px;
  height:100px;
  display:flex;
  justify-content:space-around;
  margin-top:-20px
}

.legs > *{
  width:50px;
  height:90px;
  background:var(--main-color);
  position:relative;
  z-index:-1;
  overflow:hidden
}
.legs > *:after{
  content:'';
  position:absolute;
  bottom:0;
  left:50%;
  transform:translate(-50%,0);
  background:#fff;
  width:10px;
  height:10px;
  border-radius:50% 50% 50% 50% / 100% 100% 0% 0%;
  box-shadow:
    0 0 2px 1px #fff,
    10px 0 2px #fff,
    20px 0 2px #fff,
    -10px 0 2px #fff,
    -20px 0 2px #fff
}

.grass {
  width:300px;
  height:25px;
  position:relative;
  margin-top:-40px;
}
.grass:after{
      content: '';
    width: 100%;
    height: 30px;
    position: absolute;
    z-index: -2;
    background-image: linear-gradient( -35deg, green 25%,transparent 25%), linear-gradient( 35deg, green 25%, transparent 25%);
    background-size: 30px 30px
}